.text1{
    color: #FABE4C;
}
.text2{
    color: #343863;
}
.btn{
    background-color: #198754;
    color: white;
    border: none;
}
.card-title{
    color:  #363958;
}
.col h4{
    color: #FABE4C;
}
.head{
    color: rgb(14, 51, 51);
}
.logo{
    width: 20px;
}
.col-md-3 img{
    width: 80px;
}

